/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .text-center-xs {
    text-align: center !important;
  }
  h1 {
    font-size: 36px !important;
  }
  h2 {
    font-size: 32px !important;
  }
  .brand {
    margin-top: 280px !important;
  }
  .rounded-top-left {
    border-top-left-radius: 0px !important;
  }

  .rounded-bottom-left {
    border-bottom-left-radius: 0px !important;
  }

  .rounded-top-right {
    border-top-right-radius: 0px !important;
  }

  .rounded-bottom-right {
    border-bottom-right-radius: 0px !important;
  }
  .caption {
    left: calc(20% - 80px) !important;
    top: calc(55% - 70px) !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .text-center-sm {
    text-align: center !important;
  }
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 36px !important;
  }
  .brand {
    margin-top: 450px !important;
  }
  .caption {
    left: calc(12% - 80px) !important;
    top: calc(55% - 70px) !important;
  }
  .rounded-top-left {
    border-top-left-radius: 0px !important;
  }

  .rounded-bottom-left {
    border-bottom-left-radius: 0px !important;
  }

  .rounded-top-right {
    border-top-right-radius: 0px !important;
  }

  .rounded-bottom-right {
    border-bottom-right-radius: 0px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .text-center-md {
    text-align: center !important;
  }
  h1 {
    font-size: 48px !important;
  }
  h2 {
    font-size: 42px !important;
  }
  .brand {
    margin-top: 0px !important;
  }
  .caption {
    left: calc(25% - 80px) !important;
    top: calc(60% - 70px) !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .brand {
    margin-top: 50px !important;
  }
  .caption {
    left: calc(20% - 80px) !important;
    top: calc(60% - 70px) !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.btn-float {
  z-index: 1000;
  padding: 4px 8px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
}

.bg-hero {
  background: url(../img/bg-hero.png);
  height: 650px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.btn-success {
  color: #fff;
  background-color: #25a4ad;
  border-color: #25a4ad !important;
}

.btn-success:hover {
  color: #fff;
  background-color: #218e96;
  border-color: #25a4ad !important;
}

.btn-success:active,
.btn-success:focus {
  color: #fff !important;
  background-color: #25a4ad !important;
  border-color: #25a4ad !important;
  box-shadow: 0 0 0 0.2rem rgb(222 170 12 / 0%);
}

.btn-outline-success {
  color: #25a4ad;
  border-color: #25a4ad !important;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #25a4ad;
  border-color: #25a4ad !important;
}

.btn-outline-success:active,
.btn-outline-success:focus {
  color: #fff !important;
  background-color: #25a4ad !important;
  border-color: #25a4ad !important;
  box-shadow: 0 0 0 0.2rem rgb(222 170 12 / 0%);
}

.text-success {
  color: #25a4ad !important;
}

.nav-link {
  color: #313131;
  font-size: 17px;
  font-weight: 600;
}

.nav-link:hover {
  color: #25a4ad !important;
}

h1 {
  font-size: 68px;
  font-weight: 700;
}

h2 {
  font-size: 60px;
  font-weight: 700;
}

.brand {
  margin-top: 100px;
}

.rounded-top-left {
  border-top-left-radius: 236px;
}

.rounded-bottom-left {
  border-bottom-left-radius: 236px;
}

.rounded-top-right {
  border-top-right-radius: 236px;
}

.rounded-bottom-right {
  border-bottom-right-radius: 236px;
}

.caption {
  position: absolute;
  width: 100%;
  left: calc(12% - 80px);
  top: calc(50% - 70px);
}

.a-success {
    color: #218e96;
}

.a-success:hover {
    color: #218e96;
}

.a-dark {
    color: #424242;
}

.a-dark:hover {
    color: #218e96;
}

.a-light {
    color: rgb(223, 222, 222);
}

.a-light:hover {
    color: rgb(255, 255, 255);
}

.text-white-80 {
    color: rgb(223, 222, 222);;
}